body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color:rgb(20, 22, 23);
    color: rgb(204, 194, 175);
    ;
}

input {
    accent-color: rgb(95, 197, 240);
}

input[type=text], textarea {
    color: rgb(232, 230, 227);
    background-color: rgb(32, 35, 36);
}

textarea {
    resize: none;
}

.flex-div {
    display: flex;
}

#name-headline {
    margin-bottom: 5px;
    text-decoration: underline;
}


#name-column {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 8px;

}

.flex-column > * {
    margin-bottom: 2px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.delete-button {
    color: rgb(230, 230, 230);
    border-radius: 2px;
    background-color: rgb(195, 167, 12);
    border-color: rgb(132, 124, 112);
}

#prompt-headline {
    text-decoration: underline;
}

#prompt-headline, #prompt-headline-2 {
    margin-right: 10px;
}

#seperator-input {
    width: 20px;
}

#prompt-container {
    width: 50%;
    padding-left: 10px;
    border-color: black;
    border-left: solid 2px;
}

#prompt-input {
    margin-top: 5px;
    flex: 1 1 auto;
    min-width: 100%;
    min-height: 80px;
}

#randomize-div {
    margin-top: 40px;
}

#myCanvas {
    margin-left: auto;
    margin-right: 10px;
    height: 133px;
    background-color: white;
}

#adjust-div {
    display: inline-flex;
    margin-right: auto;
}

#text-x-axis {
    margin-top: 46px;
    width: 100%;
}

#text-y-axis {
    width: 60px;
}

.input-text {
    width: 300px;
}

.name-container {
    display: flex;
    
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
}
.name-field {
    width: 300px;
    margin-right: 10px;
}
table th:first-child, table td:first-child {
    width: 22px;
    text-align: center;
}
table {
    table-layout: fixed;
    color: rgb(232, 230, 227);
    background-color: rgb(56, 57, 59);
    box-shadow: 2px 2px 5px black;
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: left;
}
td {
    overflow: auto;
}
#table-container {
    margin-top: 20px;
    margin-bottom: 10px;
}

.hide-table {
    display: none;
}

.rotation-wrapper-outer {
    display: table;
  }
.rotation-wrapper-inner {
    padding: 50% 0;
    height: 0;
}

#text-y-axis {
    display: block;
    transform-origin: top left;
    /* Note: for a CLOCKWISE rotation, use the commented-out
     transform instead of this one. */
    transform: rotate(-90deg) translate(-100%);
    /* transform: rotate(90deg) translate(0, -100%); */
    margin-top: -50%;
}

#generate-div {
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 2px dashed rgb(204, 194, 175);
    padding-top: 15px;
    border-top: 2px dashed rgb(204, 194, 175);
}

input {
    vertical-align: middle;
}

select {
    color: rgb(232, 230, 227);
    background-color: rgb(87, 87, 88);
}


#center-div {
    margin: auto;
    width: 80%;
    border: 2px solid rgb(103, 96, 85);
    border-radius: 10px;
    background-color: rgb(39, 42, 44);
    box-shadow: 10px 10px 10px 6px black;
    padding: 5px;
}

h1, h2 {
    color: rgb(119, 174, 198);
    text-align: center;
}

h2 {
    padding-top: 15px;
    border-top: 2px dashed rgb(204, 194, 175);
}

#name-column {
    width: 50%;
}

#prompt-container {
    width: 50%;
}

#randomize-div {
    width: fit-content;
    margin: auto;
    margin-top: 50px;
}

.big-button {
    color: white;
    border-radius: 10px;
    border: none;
    background-color: rgb(153, 129, 0);
    padding: 15px;
    box-shadow: 1px 1px 0px 1px black;
    transition: 0.3s;
}

.big-button:hover:disabled {
    cursor: not-allowed;
}

.big-button:hover:enabled {
    cursor: pointer;
    background-color: rgb(136, 116, 0);
}

.big-button:active {
    box-shadow: none;
}

.select-button {
    color: rgb(255, 255, 255);
    border-radius: 2px;
    background-color: rgb(195, 167, 12);
    border-color: rgb(232, 230, 227);
}

.select-button:disabled {
    color: rgb(43, 37, 2);
    background-color: rgb(134, 115, 8);
    border-color: rgb(158, 158, 150);
}

a {
    text-decoration: none;
    color: rgb(43, 79, 255);
    text-align: middle;
    width: fit-content;
    border-radius: 10px;
    border: none;
    background-color: rgb(49, 53, 56);
    padding: 4px;
}

#name-backside-toggle {
    margin-left: 15px;
    opacity: 0.5;
}

@media only screen and (max-width: 950px) {
    #adjust-flex {
        flex-direction: column;
    }
    #myCanvas {
        margin: auto;
        margin-bottom: 5px;
    }
    #adjust-div {
        margin: auto;
    }
}

@media only screen and (max-width: 850px) {
    .flex-div {
        flex-direction: column;
    }
    #name-column {
        margin: auto;
        width: 70%;
    }
    .name-field {
        width: 100%;
    }
    #prompt-container {
        margin: auto;
        padding-left: 0px;
        padding-top: 10px;
        border-left: none;
        border-top: solid 2px;
        width: 70%;
    }
    #prompt-container > .flex-div {
        flex-direction: row;
    }
    #prompt-input {
        width: 100%;
    }

    #randomize-div {
        margin-top: 30px;
    }
}