body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.flex-div {
    display: flex;
}

#name-column {
    display: flex;
    flex-direction: column;
}

.flex-column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex-column > * {
    margin-bottom: 2px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

#prompt-headline {
    margin-right: 10px;
}

#seperator-input {
    width: 20px;
}

#prompt-container {
    padding-left: 10px;
    border-color: black;
    border-left: solid 2px;
}

#prompt-input {
    margin-top: 5px;
    min-height: 80px;
    height: 100%;
    min-width: 300px;
}

#myCanvas {
    margin-right: 10px;
}

.input-text {
    width: 300px;
}

.name-container {
    display: flex;
    
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
}
.name-field {
    width: 300px;
    margin-right: 10px;
}
table th:first-child, table td:first-child {
    width: 30px;
    text-align: center;
}
table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
    text-align: left;
}
#table-container {
    margin-top: 20px;
    margin-bottom: 10px;
}

.hide-table {
    display: none;
}
