body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.flex-div {
    display: flex;
}

#name-column {
    display: flex;
    flex-direction: column;
}

.flex-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 4px;

}

.flex-column > * {
    margin-bottom: 2px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

#prompt-headline {
    margin-right: 10px;
}

#seperator-input {
    width: 20px;
}

#prompt-container {
    padding-left: 10px;
    border-color: black;
    border-left: solid 2px;
}

#prompt-input {
    margin-top: 5px;
    min-height: 80px;
    height: 100%;
    min-width: 300px;
}

#myCanvas {
    margin-right: 10px;
    height: 133px;
}

#text-x-axis {
    margin-top: 46px;
    width: 100%;
}

#text-y-axis {
    width: 60px;
}

.input-text {
    width: 300px;
}

.name-container {
    display: flex;
    
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
}
.name-field {
    width: 300px;
    margin-right: 10px;
}
table th:first-child, table td:first-child {
    width: 30px;
    text-align: center;
}
table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
    text-align: left;
}
#table-container {
    margin-top: 20px;
    margin-bottom: 10px;
}

.hide-table {
    display: none;
}

.rotation-wrapper-outer {
    display: table;
  }
.rotation-wrapper-inner {
padding: 50% 0;
height: 0;
}

#text-y-axis {
    display: block;
    transform-origin: top left;
  /* Note: for a CLOCKWISE rotation, use the commented-out
     transform instead of this one. */
  transform: rotate(-90deg) translate(-100%);
  /* transform: rotate(90deg) translate(0, -100%); */
  margin-top: -50%;
}